.workbook {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}

    .workbook div.sheet {
        border: 1px dotted fuchsia;
        overflow: auto;
        position: relative;
        height: 400px;
        width: 100%;
    }

        .workbook div.sheet div {
            position: absolute;
        }

            .workbook div.sheet div.header {
                background: whitesmoke;
                border: 1px solid silver;
            }

                .workbook div.sheet div.header:hover {
                    background: cadetblue;
                }

                .workbook div.sheet div.header.selected {
                    background: lightgray;
                }

                    .workbook div.sheet div.header.selected:hover {
                        background: cadetblue;
                    }

                .workbook div.sheet div.header.selected.full {
                    background: lightblue;
                }

                    .workbook div.sheet div.header.selected.full:hover {
                        background: cadetblue;
                    }

            .workbook div.sheet div.row-header {
                text-align: right;
            }

                .workbook div.sheet div.row-header.selected {
                    border-right: 2px solid blue;
                }

            .workbook div.sheet div.col-header {
                text-align: center;
            }

                .workbook div.sheet div.col-header.selected {
                    border-bottom: 2px solid blue;
                }

            .workbook div.sheet div.cell {
                background: white;
                border: 1px solid lightgray;
            }

            .workbook div.sheet div.cell.selected {
                background-color: lightblue
            }

            .workbook div.sheet div.selection-top {
                border-top: 2px solid blue
            }

            .workbook div.sheet div.selection-bottom {
                border-bottom: 2px solid blue
            }

            .workbook div.sheet div.selection-left {
                border-left: 2px solid blue
            }

            .workbook div.sheet div.selection-right {
                border-right: 2px solid blue
            }

